@page "/rulesets"

@using Pricing.Calculator.Web.App.Models.Request
@using Pricing.Calculator.Web.App.Models

<div class="row">
    <div class="col-3">
        <label class="form-label">Select Ruleset:</label>
        <select class="form-control" @bind="CurrentRulesetId">
            <option value=""></option>
            <option value="SC:GB-DC-IE">SC:GB-DC-IE</option>
            <option value="SC:GB-DT-EU">SC:GB-DT-EU</option>
        </select>
    </div>
</div>

<hr />

<EditForm Model="@ruleset" OnValidSubmit="@Publish">

    <ObjectGraphDataAnnotationsValidator />


    <div hidden="@Ishidden">
        <h4 class="mb-3 border-bottom">Main Attributes</h4>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Source Country</label>
                            <InputText @bind-Value="ruleset.SourceCountry" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Declaration Country</label>
                            <InputText @bind-Value="ruleset.DeclarationCountry" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Brand Code</label>
                            <InputText @bind-Value="ruleset.BrandCode" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Postal Method</label>
                            <InputText @bind-Value="ruleset.PostalMethod" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mb-3 border-bottom">Charge Configurations</h4>
        <button class="btn btn-danger pt-0 pb-0 ml-2" type="button" @onclick="AddNewChargeConfig"><span class="oi oi-plus"></span></button>

        @foreach (var chargeConf in ruleset.ChargeConfigurations)
        {

            <ChargeConfigurationComponent ChargeConfiguration="@chargeConf" OnClickDelete="@OnClickDelete" />

        }

        <hr />
        <div class="float-right mb-3">
            <button class="btn btn-info" type="button" @onclick="Preview">Preview Changes</button>
            <button class="btn btn-primary" type="button" @onclick="Publish">Publish Changes</button>
        </div>
    </div>

</EditForm>

@code {

    private string _currentRulesetId = string.Empty;
    private bool Ishidden = true;

    public Ruleset ruleset { get; set; } = new Ruleset();

    public string CurrentRulesetId
    {
        get { return _currentRulesetId; }
        set
        {
            if (string.IsNullOrWhiteSpace(value))
                Ishidden = true;
            else
                Ishidden = false;

            _currentRulesetId = value;
        }
    }

    private void AddNewChargeConfig()
    {
        ruleset.ChargeConfigurations.Add(new Models.Request.ChargeConfiguration());
    }

    private void Publish()
    {

    }

    private void Preview()
    {

    }

    private void OnClickDelete(ChargeConfiguration chargeConfiguration)
    {
        ruleset.ChargeConfigurations.Remove(chargeConfiguration);
    }
}