@using Models.Request;

<div class="card mb-3">
    <div class="card-header text-white @(ChargeConfiguration.Enabled ? "btn-primary" : "bg-secondary")">
        @ChargeConfiguration.Name
        <div class="float-right">
            <button class="btn btn-success pt-0 pb-0 ml-2" type="button" @onclick="() => ChargeConfiguration.Enabled = true">Enable</button>
            <button class="btn btn-warning pt-0 pb-0 ml-2" type="button" @onclick="() => ChargeConfiguration.Enabled = false">Disable</button>
            <button class="btn btn-danger pt-0 pb-0 ml-2" type="button" @onclick="() => OnClickDelete.InvokeAsync(ChargeConfiguration)"><span class="oi oi-trash"></span></button>
        </div>

    </div>
    <div class="card-body">
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" @bind="ChargeConfiguration.Name">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Charge Type</label>
                    <InputSelect @bind-Value="ChargeConfiguration.ChargeType" class="form-control">
                        @foreach (var value in Enum.GetValues(typeof(ChargeType)))
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>
                </div>
            </div>

            @if (ChargeConfiguration.ChargeType == ChargeType.ValueBased || ChargeConfiguration.ChargeType == ChargeType.WeightBased)
            {
                <div class="col">
                    <div class="form-group">
                        <label>Rate</label>
                        <input type="text" class="form-control" @bind="ChargeConfiguration.Rate">
                    </div>
                </div>
            }

            @if (ChargeConfiguration.ChargeType == ChargeType.Fixed)
            {
                <div class="col">
                    <div class="form-group">
                        <label>Value</label>
                        <input type="text" class="form-control" @bind="ChargeConfiguration.FixedValue">
                    </div>
                </div>
            }

            <div class="col">
                <div class="form-group">
                    <label>Deminimis Threshold</label>
                    <input type="text" class="form-control" @bind="ChargeConfiguration.DeminimisThreshold">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Deminimis Base Charges</label>
                    <div>
                        @foreach (var item in ChargeConfiguration.DeminimisBaseCharges)
                        {
                            <div>
                                <label for="@item.name">
                                    <input type="checkbox"  checked="@item.selected" @onchange="@((e) => CheckboxChangedDeminimis(e, item.name))" />
                                    @item.name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Base Charges</label>
                  
                    <div>
                        @foreach (var item in ChargeConfiguration.BaseCharges)
                        {
                            <div>
                                <label for="@item.name">
                                    <input type="checkbox" checked="@item.selected" @onchange="@((e) => CheckboxChangedBaseCharges(e, item.name))" />
                                    @item.name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public Models.Request.ChargeConfiguration ChargeConfiguration { get; set; } = new Models.Request.ChargeConfiguration();

    [Parameter] public EventCallback<ChargeConfiguration> OnClickDelete { get; set; }

    private void CheckboxChangedDeminimis(ChangeEventArgs e, string key)
    {
        var i = ChargeConfiguration.DeminimisBaseCharges.FirstOrDefault(i => i.name == key);
        var index = ChargeConfiguration.DeminimisBaseCharges.IndexOf(i);

        i.selected = (bool)e.Value;

        ChargeConfiguration.DeminimisBaseCharges.RemoveAll(i => i.name == key);
        ChargeConfiguration.DeminimisBaseCharges.Insert(index, i);
    }

    private void CheckboxChangedBaseCharges(ChangeEventArgs e, string key)
    {
        var i = ChargeConfiguration.BaseCharges.FirstOrDefault(i => i.name == key);
        var index = ChargeConfiguration.BaseCharges.IndexOf(i);

        i.selected = (bool)e.Value;

        ChargeConfiguration.BaseCharges.RemoveAll(i => i.name == key);
        ChargeConfiguration.BaseCharges.Insert(index, i);
    }
}
